Package: com.bandarhl.bhtwitter
Name: BHTwitter
Version: 4.4
Architecture: iphoneos-arm
Description: Awesome tweak for Twitter
Maintainer: Bandar Alruwaili
Author: Bandar Alruwaili
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
