Package: com.bandarhl.BHTwitter
Name: BHTwitter
Version: 2.9.8
Description: Awesome tweak for Twitter
Section: Tweaks
Depends: firmware (>= 13.0), mobilesubstrate, ws.hbang.common (>= 1.17)
Priority: optional
Architecture: iphoneos-arm
Author: BandarHelal
Maintainer: BandarHelal
